<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Avalonline</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="client/styles.css" type="text/css" />

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

    <script src="https://unpkg.com/vue@2.6.8/dist/vue.js"></script>

    <!-- chat stuff added below -->
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <!-- Firechat -->
    <link rel="stylesheet" href="client/firechat.css" />
    <script src="client/firechat.js"></script>
  </head>

  <body>
    <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyC_0DpX0DNsW0WqtBq88BlQc1MntzEL3ZY",
        authDomain: "avalonline-a8a5b.firebaseapp.com",
        databaseURL: "https://avalonline-a8a5b.firebaseio.com",
        projectId: "avalonline-a8a5b",
        storageBucket: "avalonline-a8a5b.appspot.com",
        messagingSenderId: "932679206673"
      };
      firebase.initializeApp(config);
    </script>
    <script src="client/chat.js"></script>

    <!-- Connection  -->
    <div id="connectScreen">
      <div class="row">
        <div class="col">
          <button
            class="avalon-btn"
            v-if="showButtons"
            onclick="createGameClicked()"
          >
            Create New Game
          </button>
          <button
            class="avalon-btn"
            v-if="showButtons"
            onclick="connectToGameClicked()"
          >
            Join Game
          </button>
        </div>
      </div>
      <h3 v-cloak v-if="createNewGame">
        Enter a name
        <input type="text" id="username" value="1" />
        <button
          class="avalon-btn"
          onclick="createGame(document.getElementById('username').value)"
        >
          Create Game
        </button>
        <p style="color:red;" id="errorMsg"></p>
        <br />
        <button class="avalon-btn" onclick="back()">Back</button>
      </h3>
      <h3 v-cloak v-if="connectToGame">
        Enter room code
        <input type="text" id="roomCode" value="" />
        Enter a name
        <input type="text" id="username2" value="1" />
        <button
          class="avalon-btn"
          onclick="connectToGame(document.getElementById('username2').value, document.getElementById('roomCode').value)"
        >
          Join Game
        </button>
        <p style="color:red;" id="errorMsg"></p>
        <br />
        <button class="avalon-btn" onclick="back()">Back</button>
      </h3>
      <h1 id="loginMessage"></h1>
    </div>
    <!-- /Connection  -->

    <!-- Game  -->
    <div id="gameScreen" v-if="showGameScreen">
      <ul style="list-style-type:none;" v-if="!assignIdentities">
        <li style="font-size: 27px;" v-for="player in players">
          {{ player.role }}: {{ player.name }}
        </li>
      </ul>
      <div class="row">
        <div class="col text-center">
          <button
            class="avalon-btn"
            v-cloak
            v-if="showStartGameButton"
            onclick="startGameButtonClicked()"
          >
            Start Game
          </button>
        </div>
      </div>
      <div id="assignIdentities" v-if="assignIdentities">
        <div class="row">
          <div class="card" v-for="player in players">
            <div
              class="card-body"
              :class="{markRed: player.team === 'Evil', markGreen: player.team === 'Good'}"
            >
              <h5 class="card-title">
                <img
                  v-if="player.leader === true"
                  src="/client/assets/leader-icon.png"
                />
                {{ player.role }}: {{ player.name }}
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">
                <b>Team:</b> {{ player.team }} <br />
                <b>Character:</b> {{ player.character }} <br />
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Game  -->

    <div id="firechat-wrapper"></div>
    <div id="firebaseui-auth-container"></div>

    <script>
      var gameScreen = new Vue({
        el: "#gameScreen",
        data: {
          players: [],
          showGameScreen: false,
          assignIdentities: false,
          showStartGameButton: false
        }
      });

      // var questsWidget = new Vue({
      //   el: "#questsWidget", //html element with the id
      //   data: {
      //   }
      // });

      var connectScreen = new Vue({
        el: "#connectScreen",
        data: {
          createNewGame: false,
          connectToGame: false,
          showButtons: true,
          startGameInRoom: false
        }
      });
      function createGameClicked() {
        connectScreen.createNewGame = true;
        connectScreen.connectToGame = false;
        connectScreen.showButtons = false;
      }
      function connectToGameClicked() {
        connectScreen.connectToGame = true;
        connectScreen.createNewGame = false;
        connectScreen.showButtons = false;
      }
      function back() {
        connectScreen.connectToGame = false;
        connectScreen.createNewGame = false;
        connectScreen.showButtons = true;
      }
      var socket;

      function startGameButtonClicked() {
        gameScreen.showStartGameButton = false;
        socket.emit("startGameRoom");
      }

      function createGame(name) {
        if (name === "") {
          document.getElementById("errorMsg").innerHTML = "Enter a name";
        } else {
          var roomCode;
          //get random 6 digit number from random api
          var client = new HttpClient();
          client.get(
            "https://www.random.org/integers/?num=1&min=1&max=999999&col=1&base=10&format=plain&rnd=new",
            function(response) {
              console.log("random roomcode: " + response);
              roomCode = response.trim(); //remove /n, etc

              document.getElementById("loginMessage").innerHTML =
                name + ", Welcome to Avalonline Room: " + roomCode;

              connectScreen.createNewGame = false;
              startGame(name, roomCode, "Host");
              //   createNewChat(name, roomCode);
            }
          );
        }
      }

      function connectToGame(name, roomCode) {
        if (name === "" || roomCode === "") {
          document.getElementById("errorMsg").innerHTML =
            "Enter Name and room code";
        } else {
          connectScreen.connectToGame = false;
          document.getElementById("loginMessage").innerHTML =
            name + ", Welcome to Avalonline Room: " + roomCode;
          startGame(name, roomCode, "Guest");
          //   joinChat(name, roomCode);
        }
      }
    </script>

    <script>
      //creates a variable to the canvas created in html
      function startGame(name, roomCode, role) {
        let gameReady = false;

        //creates a socket variable to be used to communicate with the server
        socket = io();
        socket.emit("roomCode", { roomCode: roomCode, name: name });
        console.log(
          "emitted name & roomcode to server: " + name + " " + roomCode
        );
        if (role === "Host") {
          socket.emit("createPlayer");
        } else {
          socket.emit("connectPlayer");
        }

        socket.on("SetUpTable", function(players) {
          gameScreen.showGameScreen = true;
          updatePlayers(players, name);
        });

        socket.on("gameReady", function() {
          console.log("game ready");
          gameScreen.showStartGameButton = true;
        });

        socket.on("assignIdentities", function(players) {
          gameScreen.assignIdentities = true;
          updatePlayers(players, name);
        });
      }

      function updatePlayers(players, name) {
        gameScreen.players = []; //clear players
        console.log(players);

        for (let i in players) {
          if (players[i].name === name) {
            players[i].name += " (You)"; //mark yourself
          }
          gameScreen.players.push(players[i]);
        }
      }
    </script>
  </body>
</html>
