/***********APP.VUE**************/
#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-align: center;
    color: #2c3e50;
    width: 100% !important;
}
.navbar-default {
    background: #eae7e3;
    border-color: #e7e7e7;
    box-shadow: 0 2px 5px #c2ab8e;
    width: 100%;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav .nav-link:hover {
    color: #494949;
}
body {
    background-color: #d6cdc2;
    background: url("castle-tan.jpg") right 30% no-repeat !important;
    background-attachment: fixed !important;
}

h1.title,
h2.subtitle {
    text-shadow: 1px 1px 2px #8A7D6E;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

.heading {
    color: #685035;
}
.modals {
    text-align: left;
}
.alert {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
p, span {
    font-size: 18px;
}

.btn {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.flex-wrap {
    justify-content: center;
}

.row {
    margin-left: auto !important;
    margin-right: auto !important;
}

@media screen and (min-width: 1px) {
    .navbar-default .navbar-brand {
        color: #777;
        font-family: "Segoe UI", Helvetica, Arial, sans-serif;
        font-size: 18px;
    }

    /*get rid of padding on all columns */
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
    .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
    .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1,
    .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
    .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3,
    .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
    .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6,
    .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }


    .lobbyList {
        text-align: left;
        font-size: 20px;
    }
    ul.lobbyList {
        list-style-type: none;
    }

    .avalon-btn-lg {
        color: #ccc351 !important;
        text-transform: uppercase;
        background: #685035 !important;
        padding: 0;
        border: 4px solid #6f5035 !important;
        border-radius: 7px;
        display: inline-block;
        margin: 2px 5px;
        width: 6rem;
    }
    .avalon-btn-lg:hover,
    .avalon-btn-lg:focus,
    .avalon-btn-lg:active {
        color: #685035 !important;
        background: #ccc351 !important;
        border-color: #ccc351 !important;
        transition: all 0.4s ease 0s;
    }
    .questAddButton,
    .questRemoveButton:hover,
    .questRemoveButton:focus,
    .questRemoveButton:active {
        color: #ccc351 !important;
        background: #685035 !important;
    }

    .questRemoveButton,
    .questAddButton:hover,
    .questAddButton:focus,
    .questAddButton:active {
        color: #685035 !important;
        background: #ccc351 !important;
        border-color: #ccc351 !important;
    }
}
@media screen and (min-width: 769px) {
    .navbar-default .navbar-brand {
        font-size: 20px;
    }
    .avalon-btn-lg {
        padding: 8px;
        font-size: 1.1rem;
        width: 10rem;
    }
    /*get rid of padding on all columns */
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
    .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
    .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1,
    .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
    .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3,
    .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
    .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6,
    .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/****MOBILE SCREENS****/
@media screen and (min-width: 1px) {
    .col {
        padding: 1%;
    }
    .container.game {
        min-height: 70vh;
        display: inline-block;
        padding: 1%;
        clear: none;
        box-shadow: 2px 2px 5px #c2ab8e;
    }
    .container.chat {
        visibility: visible;
        min-height: 75vh;
        margin: 10px 0;
        width: 100%;
        padding: 0;
        display: inline-block;
        clear: none;
        overflow: hidden;
    }

    .footer {
        box-shadow: 0 -2px 5px #c2ab8e;
        text-align: center;
        visibility: hidden;
    }

}
/****NORMAL SCREENS****/
@media screen and (min-width: 769px) {
    .container.chat {
        visibility: visible;
        min-height: 75vh;
        margin: 10px !important;
        padding: 0;
        display: inline-block;
        clear: none;
        overflow: hidden;
    }
    .footer {
        visibility: hidden;
    }

}

/************PLAYER & QUEST CARDS**************/
.self {
    background: #C7C2CF !important;
}

/****MOBILE SCREENS****/
@media screen and (min-width: 1px) {
    .card-title {
        margin-top: 5px;
        font-weight: bold;
        font-size: 15px;
        font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    }
    .card-subtitle {
        font-size: 14px;
    }
}
/****NORMAL SCREENS****/
@media screen and (min-width: 769px) {
    .card-title {
        font-size: 20px;
    }
}

/*************SECTION******************/
/*used in PlayerVoteStatus, GameStatus*/
@media screen and (min-width: 1px) {
    .section {
        border-radius: 5px;
        margin: 5px;
        background: #F1F1F1;
        box-shadow: 2px 2px 5px #c2ab8e;
    }

    .section .sectionTitle {
        font-family: "Segoe UI", Helvetica, Arial, sans-serif;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: #8A7D6E;
        color: #F1F1F1;
        font-weight: bold;
        font-size: 15px;
    }
}