/***********APP.VUE**************/
#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    width: 100% !important;
}
.navbar-default {
    background: #eae7e3;
    border-color: #e7e7e7;
    box-shadow: 0 2px 5px #c2ab8e;
    width: 100%;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav .nav-link:hover {
    color: #494949;
}
body {
    /* padding: 20px 0px;*/
    background: #d6cdc2 !important;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

.heading {
    color: #685035;
}
.modals {
    text-align: left;
}

.btn {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

@media screen and (min-width: 1px) {
    .navbar-default .navbar-brand {
        color: #777;
        font-family: "Segoe UI", Helvetica, Arial, sans-serif;
        font-size: 18px;
    }

    /*get rid of padding on all columns */
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
    .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
    .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1,
    .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
    .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3,
    .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
    .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6,
    .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }


    .lobbyList {
        text-align: left;
        font-size: 20px;
    }
    ul.lobbyList {
        list-style-type: none;
    }

    .avalon-btn-lg {
        color: #ccc351 !important;
        text-transform: uppercase;
        background: #685035 !important;
        padding: 5px !important;
        border: 4px solid #6f5035 !important;
        border-radius: 7px;
        display: inline-block;
        font-size: 18px !important;
        margin: 2px 5px;
        width: 100px;
    }
    .avalon-btn-lg:hover,
    .avalon-btn-lg:focus,
    .avalon-btn-lg:active {
        color: #685035 !important;
        background: #ccc351 !important;
        border-color: #ccc351 !important;
        transition: all 0.4s ease 0s;
    }
    .questAddButton,
    .questRemoveButton:hover,
    .questRemoveButton:focus,
    .questRemoveButton:active {
        color: #ccc351 !important;
        background: #685035 !important;
    }

    .questRemoveButton,
    .questAddButton:hover,
    .questAddButton:focus,
    .questAddButton:active {
        color: #685035 !important;
        background: #ccc351 !important;
        border-color: #ccc351 !important;
    }
}
@media screen and (min-width: 769px) {

    .navbar-default .navbar-brand {
        font-size: 20px;
    }

    .avalon-btn-lg {
        padding: 10px !important;
        font-size: 20px !important;
        width: 200px;
    }

    /*get rid of padding on all columns */
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
    .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
    .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1,
    .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
    .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3,
    .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
    .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6,
    .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/****MOBILE SCREENS****/
@media screen and (min-width: 1px) {
    .col {
        padding: 1%;
    }
    .container.game {
        min-height: 70vh;
        display: inline-block;
        padding: 1%;
        clear: none;
        box-shadow: 2px 2px 5px #c2ab8e;
    }
    .container.chat {
        visibility: visible;
        min-height: 75vh;
         margin: 10px 0;
        width: 100%;
        padding: 0;
        display: inline-block;
        clear: none;
        overflow: hidden;
    }


    .footer {
        box-shadow: 0 -2px 5px #c2ab8e;
        text-align: center;
        visibility: hidden;
    }

}
/****NORMAL SCREENS****/
@media screen and (min-width: 769px) {
    .container.game {
        /*max-width: 50vw;*/
    }
    .container.chat {
        visibility: visible;
        min-height: 75vh;
        margin: 10px !important;
        padding: 0;
        display: inline-block;
        clear: none;
        overflow: hidden;
    }
    .footer {
        visibility: hidden;
    }

}




.setupButton {
    float: right;
}



/************PLAYER & QUEST CARDS**************/
.markEvil {
    border-top: 5px solid #A42323;
}
.markGood {
    border-top: 5px solid #3C48BB;
}
.questBadge {
    margin: 0.5rem;
    background: #7D67AA !important;
}
.darkerBG {
    background: #C7C2CF !important;
}
.markRed {
    border: 5px solid #A42323 !important;
}
.markGreen {
    border: 5px solid green !important;
}
/****MOBILE SCREENS****/
@media screen and (min-width: 1px) {
    .card-title {
        margin-top: 5px;
        font-weight: bold;
        font-size: 15px;
        font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    }
    .card-subtitle {
        font-size: 14px;
    }
    .playerCards,
    .questCards {
        padding-top: 4px;
        overflow-x: auto;
        margin: 0 auto;
    }
    .player.card {
        background: #f8f9fa; /* bootstrap 4 bg-light*/
        margin: 5px;
        width: 90px;
        border: none;
    }
    .player.card-body {
        padding: 2px;
    }
    .quest.card {
        border-radius: 5px;
        background: #f8f9fa; /* bootstrap 4 bg-light*/
        margin: 2px;
        width: 64px;
        border: none;
        padding: 1px !important;
    }
    .quest.card-body {
        padding: 2px;
    }
    .quest.card-subtitle {
        font-size: 14px;
    }

}
/****NORMAL SCREENS****/
@media screen and (min-width: 769px) {
    .player.card {
        width: 150px;
    }
    .player.card-body {
        padding: 8px;
    }
    .card-title {
        font-size: 20px;
    }
    .quest.card {
        width: 100px;
    }
}



/*************SECTION******************/
/*used in PlayerVoteStatus, GameStatus*/
@media screen and (min-width: 1px) {
    .section {
        border-radius: 5px;
        min-height: 30px;
        padding: 5px;
        margin: 10px !important;
        background: #F1F1F1;
        box-shadow: 2px 2px 5px #c2ab8e;
        font-size: 14px;
    }

    .row {
        margin: 2px !important;
    }

    .section .sectionTitle {
        font-family: "Segoe UI", Helvetica, Arial, sans-serif;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: #8A7D6E;
        color: #F1F1F1 !important;
        font-weight: bold;
        font-size: 18px;
        float: left;
        min-height: 30px;
        vertical-align: middle;
        margin: -5px 0 -5px -5px; /*offset the padding of .section */
        padding: 1%;
    }
}
/****NORMAL SCREENS****/
@media screen and (min-width: 769px) {
    .section .sectionTitle {
        font-size: 15px;
    }
    .row {
        margin: 5px !important;
    }
}

/*************VOTE TRACK ****************/
/****MOBILE SCREENS****/
@media screen and (min-width: 1px) {
    .markBG {
        background: #7D67AA !important;
        color: white;
    }
    .circle {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: white;
        padding-top: 8px;
        margin-right: 2px;
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
    }

    .section.voteTrack {
        width: 290px;
    }
    .section.voteTrack .sectionTitle {
        font-size: 14px;
        vertical-align: middle;
    }
    .section.voteTrack.col {
        padding: 0 !important;
    }
}

/****NORMAL SCREENS****/
@media screen and (min-width: 769px) {
    .circle {
        width: 50px;
        height: 50px;
        padding-top: 10px;
        margin-right: 0.5rem;
        font-size: 20px;
    }

    .section.voteTrack {
        width: 500px;
    }
}